.auth__button {
    border-radius: 2px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    min-height: 50px;
    min-width: 358px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 1;
    transition: opacity .5s linear;
}

.auth__button:hover {
    cursor: pointer;
    opacity: .8;
}